ion-content ion-toolbar {
    --background: translucent;
  }
  
  ion-content {
    --background: #E8ECEF;
  }
  
  ion-title {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
  }

  ion-icon {
    color: #77D353;
    font-size: 200px;
  }

  h1 {
      color: 5A6978;
  }