<form [formGroup]="form">
  <div class="row">
    <ng-container *ngIf="arrayProductos.length; else loading">
      <ion-row>
        <ng-container formArrayName="productos">         

          <ion-slides [options]="slideOpts">

            <ng-container [formGroupName]="i" *ngFor="let item of arrayProductos.controls; index as i">
              
                <ion-slide>

                  <!-- <ion-chip
                  style="height: 60px;"
                  [className]=" item.get('selected').value ? 'css-selected-productos' : 'css-unselected-productos'"
                  (click)="activeButton( i )">
                    <ion-icon src="{{ item.get('direccion_logo').value }}" size="large"></ion-icon>
                  </ion-chip> -->

                  <ion-button 
                  [color]=" item.get('selected').value ? 'primary' : 'light' " 
                  (click)="activeButton( i )">
                    <ion-icon src="{{ item.get('direccion_logo').value }}" size="large"></ion-icon>
                  </ion-button>   


                </ion-slide>

            </ng-container>

          </ion-slides>
                
        </ng-container>         
      </ion-row>

    </ng-container>

    <ng-template #loading>

      <ion-row>
        <ion-col size="3" *ngFor="let data of [1,2,3,4]">
          <ion-skeleton-text animated style="width: 90%; height: 50px; border-radius: 5px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>

      <!-- <div class="ion-padding">
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      </div> -->
    </ng-template>
  </div> 
</form>