<ion-tabs color="secondary">
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="grafico">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedir">
      <ion-icon name="navigate-circle"></ion-icon>
      <!-- <ion-icon src="assets/images/dashboard/reciclar.svg"></ion-icon> -->
      <ion-label>Recoger</ion-label>
    </ion-tab-button>    

    <!-- <ion-tab-button tab="pedir-direccion" rootParams="0">
      <ng-container *ngIf=" usuario.opcion === 1; else iconoDos">
        <ion-icon src="assets/images/dashboard/reciclar.svg"></ion-icon>
      </ng-container>
      <ng-template #iconoDos>
        <ion-icon src="assets/images/dashboard/map.svg"></ion-icon>
      </ng-template>
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configuraci&oacute;n</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
