<ion-content class="ion-padding fondo-varios">


  <ion-grid>
  
    <ion-row class="ion-justify-content-center">

      <form [formGroup]="loginForm" (ngSubmit)="login()" method="POST">
        <ion-col class="ion-align-self-center">
  
          <div class="ion-text-center">
            <img src="assets/images/login/fondo-logo.svg">
          </div>

          <div class="ion-text-center ion-padding-top">
            <ion-text >
              Sé parte del cambio.
            </ion-text>
          </div>

          <div class="ion-padding-top ion-padding-bottom">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-icon name="person-circle-outline" class="ion-padding-end" item-start size="large"></ion-icon>
                  <ion-input type="text" 
                  formControlName="usuario"
                  placeholder="Usuario"></ion-input>                
                </ion-item>                       
              </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-icon name="lock-closed-outline" class="ion-padding-end" item-start size="large"></ion-icon>
                  <ion-input type="password" 
                  formControlName="password"
                  placeholder="*******"></ion-input>                
                </ion-item>                     
              </ion-col>
            </ion-row>
          </div>


          <div class="ion-text-center ion-padding-top">

            <ion-row>
              <ion-col size="12">
                <ion-button shape="round" 
                  expand="block" 
                  fill="solid" 
                  size="large"
                  type="submit"
                  [disabled]="loginForm.invalid"
                  color="secondary">
                  Ingresar
                </ion-button>                    
              </ion-col>
            </ion-row> 

          </div>     
          
          <div class="ion-text-center ion-padding-top">
            <ion-row>
              <ion-col size="12">
                <a routerLink="/auth/signin">Volver</a>
              </ion-col>
            </ion-row>
          </div>


        </ion-col>

      </form>


    </ion-row>
  </ion-grid>


  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col size="6"> {{ streamingMedia }} </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>